.dzFooter {
	color: #fff;
}

.navbar-header {
	background-color: #31708f;

}

.navbar-header > .navbar-brand {
	color: #fff;
}

.navbar-inverse {
  background-color:  #31708f;
}

input.form-control,
input.input-sm,
input.form-control:active,
select.form-control,
select.form-control:active,
textarea.form-control {
	margin:0;
    padding:0;
    border:1px solid #ddd;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-indent: 5px;
    width: 100%;
    border-radius: 3;
}

.form-group .control-label {
	text-align: left;
}
@media (min-width: 767px) {
	.navbar-nav > li > .dropdown-menu {
		margin-top: 20px;
		margin-right: 42px;
		border-top-left-radius: 6;
	}

	.dropdown-toggle {
		margin-bottom:-40px;
	}
	.navbar .navbar-nav>.open>a, .navbar .navbar-nav>.open>a:hover, .navbar .navbar-nav>.open>a:focus {
	background-color: rgba(0,0,0,0);
	}
}

@media (max-width: 767px) {
	.navbar-nav > li > .dropdown-menu {
		margin-top: -20px;
		margin-right: 0px;
		border-top-left-radius: 6px;

	}

	.panel {
		margin-top: 40px;
	}
}