.dzFooter {
	background-color: #ECEFF1;
	font-color: #fff;
}

.navbar-header {
	background-color: #31708f;

}

.navbar-header > .navbar-brand {
	color: #fff;
}

.navbar-inverse {
  background-color:  #31708f;
}
